In [ ]:
pwd

In [1]:
x='String'
x[2]

'r'

In [2]:
x[2]='s'

TypeError: 'str' object does not support item assignment

In [3]:
y=12345
y

12345

In [4]:
name='mahendra'
name

'mahendra'

In [8]:
name[2:7:2]

'hnr'

In [6]:
name[-1:-3:-1]

'ar'

In [9]:
name[1:5:2]

'ae'

In [11]:
name.islower?

In [10]:
name.capitalize()

'Mahendra'

In [ ]:
name.capitalize?

In [12]:
name.split()

['mahendra']

In [13]:
name1='m a h en d ra'
name1.split()

['m', 'a', 'h', 'en', 'd', 'ra']

In [14]:
n2='n,a,m,e'
n2

'n,a,m,e'

In [15]:
n2.split(',')

['n', 'a', 'm', 'e']

In [16]:
name.find('a')

1

In [17]:
name.count('a')

2

In [18]:
tup=('Mahendra',2,4.5,'Python')
tup

('Mahendra', 2, 4.5, 'Python')

In [19]:
type(tup)

tuple

In [20]:
tup.count('P')

0

In [21]:
tup.count('Python')

1

In [22]:
tup.index('Python')

3

In [23]:
name[2:]

'hendra'

In [24]:
lst=['Mahendra',2,4.5,'Python']
lst

['Mahendra', 2, 4.5, 'Python']

In [25]:
type(lst)

list

In [26]:
lst[1:3]

[2, 4.5]

In [27]:
lst.pop()

'Python'

In [28]:
lst1=[6,'f',90]

In [29]:
lst1+2

TypeError: can only concatenate list (not "int") to list

In [30]:
lst1.append(lst)
lst1

[6, 'f', 90, ['Mahendra', 2, 4.5]]

In [31]:
lst1[3][0]

'Mahendra'

In [ ]:
s={'h','a','i'}
s

In [ ]:
s={'h','i'}
s

In [ ]:
a=2
b=8
l=range(a,b)

#for i in l:
 #   print(i)

for i in range(a,b):
    for j in range(b,a,-1):
        print(i*j)
    print(i*j)

In [36]:
for i in range(2,10):
    print(i)

2
4
6
8